<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
    <typeAliases>
        <typeAlias alias="Categories" type="org.brewingjava.model.Categories"/>        
    </typeAliases>
 
    <environments default="development">
        <environment id="development">
          <transactionManager type="JDBC"/>
            <!--  connecting to Local MySql -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost/part0"/>
                <property name="username" value="root"/>
                <property name="password" value="admin"/>
            </dataSource>
       </environment>
    </environments>
    <!--  mapping sql statements -->
    <mappers>
       <mapper resource="org/brewingjava/resources/Categories.xml"/>
    </mappers>
</configuration>